{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}

<section class="s-featured-products">

</section>

{% schema %}
{
  "name": "Featured Products",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}