{{ 'main-product.css' | asset_url | stylesheet_tag }}
<script src="{{ 'main-product.js' | asset_url }}" defer></script>

{% comment %} <script>
  console.log({{ product | json }})
</script> {% endcomment %}

<main-product>
  <section class="main-product">
    <div class="main-product__row">
      <div class="main-product__gallery">

      </div>
      <div class="main-product__content">

      </div>
    </div>
  </section>
</main-product>



{% schema %}
  {
    "name": "Main Product",
    "settings": []
  }
{% endschema %}