.cart-drawer{
  &__close{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: black;
    cursor: pointer;
  }
  &__empty{
    text-align: center;
    span{
      font-size: 20px;
      display: block;
      margin-bottom: 10px;
    }
  }
  &.active{
    .cart-drawer__close{
      opacity: 0.5;
      z-index: 9;
    }
    .cart-container {
      right: 0;
    }
  }
  .cart-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    max-width: 500px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: -500px;
    z-index: 10;
    background-color: white;
    transition: all 0.3s ease-in-out;

    &__header {
      text-align: center;
      padding: 26px 20px 20px 20px;
      border-bottom: 1px solid #d5d5d5;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        text-transform: uppercase;
        font-size: 22px;
      }

      .icon-close {
        width: 18px;
        cursor: pointer;
      }

    }

    &__products {
      padding: 30px 20px;
      flex: 1;
      overflow: auto;
      .cart__item {
        display: flex;
        margin-top: 22px;

        &:first-child {
          margin-top: 0px;
        }

        &_image {
          width: 100px;
          height: 134px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
          }
        }

        &_info {
          display: flex;
          padding: 6px 20px;
          flex-direction: column;
          flex: 1;
          justify-content: space-evenly;
        }

        &_title {
          a {
            text-decoration: none;
            font-size: 20px;
          }
        }

        &_count {
          display: flex;
          align-items: flex-start;
          margin-top: 10px;
          span {
            cursor: pointer;
            svg {
              pointer-events: none;
              path{
                fill: #616161;
              }
            }
          }

          &-qty {
            display: flex;
            align-items: center;
            width: 90px;
            margin-right: 30px;
            justify-content: space-between;

            .current_qty {

            }

            .change_qty {

            }
          }

          .del_product {

          }
        }

        &_price {
          margin-top: 10px;
          font-size: 18px;
          font-weight: 600;
          color: #616161;
        }
      }
    }

    &__subtotal {
      width: 100%;
      padding: 20px;
      border-top: 1px solid #d5d5d5;

      &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        margin-bottom: 6px;
        text-transform: uppercase;
        font-weight: 600;

        &-price {

        }
      }

      a {
        text-decoration: none;
        position: relative;
        letter-spacing: .04em;
        padding: 10px 50px;
        transition: all .3s ease-in-out;
        display: inline-block;
        text-align: center;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #000000;
        width: 100%;
        margin-top: 10px;
        &:hover {
          background-color: #000000;
          color: #ffffff;
        }
        &:last-child{
          background-color: #000000;
          color: #ffffff;
          padding: 12px 50px;
          &:hover {
            background-color: #ffffff;
            color: #000000;
          }
        }
      }
    }
   }
  }