.s-header {
  box-shadow: 1px -10px 20px 0px grey;
  display: block;
  position: relative;
  z-index: 9;
  header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
  }

  &__menu_btn {
    position: relative;
    display: none;
    left: 8px;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 10;
      transform: scale(0.8);
      transition: transform .15s ease, opacity .15s ease;

      &:first-child {
        transform: scale(1.07);
        opacity: 1;
      }
    }

    @media screen and (max-width: 990px) {
      display: block;
    }
  }

  &__logo {
    img {
      display: block;
      height: auto;
    }

    @media screen and (max-width: 990px) {
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__nav {
    flex: 1;
    align-self: stretch;

    @media screen and (max-width: 990px) {
      left: -100vw;
      position: fixed;
      height: 100%;
      width: 100vw;
      max-width: 500px;
      transition: left .15s ease;
      z-index: 10;
    }
  }

  &__menu {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0 20px;

    &_item {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0 10px;

      svg {
        display: none;
      }

      a {
        text-decoration: none;
        position: relative;
        padding: 15px 0;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
      }

      a {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          height: 1px;
          width: 0;
          bottom: 13px;
          transition: width 0.2s ease;
        }
      }

      &:hover {
        &>a {
          &:before {
            width: 100%;
            transition: width 0.2s ease;

            @media screen and (max-width: 990px) {
              width: 0;
            }
          }
        }
      }

      &--active {
        &>a {
          &:before {
            content: "";
            position: absolute;
            left: 0;
            height: 1px;
            width: 100%;
            bottom: 13px;
          }
        }
      }

      &--parent {
        //position: relative;
        cursor: pointer;

        .s-header__menu_item_arrow {
          width: 25px;
          height: 25px;
          border-radius: 3px;
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          z-index: 0;

          svg {
            z-index: -1;
            display: block;
            font-size: 12px;
            transform: rotate(0deg);
            transition: all 0.3s ease-in-out;
          }
        }


        ul {
          opacity: 0;
          z-index: -1;
          position: absolute;
          top: -200px;
          width: max-content;
          min-width: 220px;
          background-color: white;
          padding: 24px 20px;
          text-align: left;
          border-top: 1px solid #a0a0a0;
          transition: opacity .15s ease .3s, top .65s ease .3s, z-index .2s ease .3s;

          @media screen and (max-width: 990px) {
            padding: 0;
            padding-left: 14px;
            border-top: 0;
          }

          li {
            margin-top: 18px;
            list-style: none;

            &:first-child {
              margin-top: 0;
            }

            a {
              padding: 0;

              &:before {
                bottom: 0;
              }

              &:hover {
                &:before {
                  width: 100%;
                  transition: width 0.2s ease;
                }
              }
            }
          }
        }

        &:hover {
          svg {
            transform: rotate(-90deg);
          }

          ul {
            top: 100%;
            opacity: 1;
            z-index: 10;
            transition: opacity .25s ease .2s, top .3s ease .2s;
          }
        }

        @media screen and (max-width: 990px) {
          position: relative;
        }
      }
    }

    @media screen and (max-width: 990px) {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 25px;
      align-items: flex-start;
      transform: translateX(0);
      transition: transform 0.3s ease;

      &_item {
        width: 100%;
        margin: 0;
        justify-content: space-between;

        .s-header__menu_item_arrow {
          border: 1px solid #847d7d;

          svg {
            right: 20px;
            pointer-events: none;
          }
        }
      }

      &.hide {
        transform: translateX(-500px);
      }
    }
  }

  &__account {
    display: flex;

    svg {
      width: 20px;
      height: 20px;
      margin: 10px;

      path {
        transition: all 0.2s ease-in-out;
      }
    }
    &_cart{
      position: relative;
      span{
        position: absolute;
        display: flex;
        height: 15px;
        width: 15px;
        font-size: 10px;
        background-color: black;
        color: white;
        border-radius: 50%;
        right: -4px;
        top: -1px;
        align-items: center;
        justify-content: center;
        padding: 1px;
      }
    }
  }

  &--menu-active {
    .s-header__menu_btn {
      & svg {
        opacity: 1;
        transition: transform .15s ease, opacity .15s ease;
        transform: scale(1.07);

        &:first-child {
          transform: scale(0.8);
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .s-header__nav {
      @media screen and (max-width: 990px) {
        left: 0;
        transition: left .15s ease;
        border-top: 1px solid #ededed;
      }
    }
  }
}