.best-sellers {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    max-width: 60%;
  }

  &__title {}

  &__subtitle {}

  &__products {
    display: flex;
  }

  &__product {
    flex: 1;
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__buttons {
    margin: auto;
  }

}