.s-mega-menu {
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  background-color: white;
  opacity: 0;
  transform: translateY(-10px);
  transition: transform .3s ease, opacity .3s ease;
  &.active{
    z-index: 9;
    opacity: 1;
    transform: translateY(0);
    transition: transform .3s ease, opacity .3s ease;
  }

  &__container {
    max-width: 1300px;
    margin: auto;
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__col {
    width: 100%;
    padding: 5px;
  }

  &__nav {}

  &__menu {
    padding: 0;

    .s-header__menu_item {
      margin: 0 0 5px;
      a {
        padding: 5px 0px;

        &::before {
          bottom: 2px;
        }
      }
    }
  }

  &__product {
    position: relative;

    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      transition: all ease-in-out 0.3s;

      &:hover {
        opacity: 0;
        transition: all ease-in-out 0.3s;
      }

      &--hover {
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }

    &-name {
      padding: 13px 14px;
      font-size: 18px;

      a {
        font-size: 18px;
        text-decoration: none;
      }
    }
  }
}