.best-sellers {
  &__header {
    display: flex;
    justify-content: space-between;
    @media (max-width: 900px) {

    }
  }

  &__wrapper {
    max-width: 60%;
    @media (max-width: 850px) {
      max-width: 74%;
    }
  }

  &__title {}

  &__subtitle {
    p{
      padding-right: 15px;
    }
  }

  &__products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &__product {
    margin-left: 20px;
    flex: 1;
    &:first-child {
      margin-left: 0;
    }
  }

  &__buttons{
    margin-left: auto;
    margin-top: 41px;
    margin-left: 20px;
    display: flex;
    @media (max-width: 850px) {
      flex-wrap: wrap;
      justify-content: right;
    }
    .btn{
      padding: 0px;
      width: 180px;
      height: 40px;
      margin: 5px 0px 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:disabled{
        color: darkgrey;
        border-color: darkgrey;
        &:hover{
            color: darkgrey;
            border-color: darkgrey;
            background-color: white;
          }
        }
    }

  }
}